<script type="text/javascript" src="{{ STATIC_URL}}jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}jquery/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}fullcalendar/fullcalendar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/util.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/datebook_connector.js?1"></script>
