<script type="text/javascript">
var page_data = {{ page_data|safe }};
page_data.csrfmiddlewaretoken = "{{ csrf_token }}";

$(document).ready(function() {
//------------------------------------------------------------------------------
	$('#session-calendar').fullCalendar( $.extend({}, {{ fullcalendar_options|safe }} , {
		select: function(start, end, allDay) {
			$.event.trigger('timeslot-click', [start, end, allDay])
			// $(window).trigger('timeslot-click', [start, end, allDay])
			$('#session-calendar').fullCalendar('unselect');
		},

		eventClick: function(calEvent, jsEvent, view) {
			$.event.trigger('event-click', [calEvent, true]);
		},
		eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
			$.event.trigger('event-drop', [event, revertFunc])
		}
	})).bind('postEvent-success', function(event, data) {
		$('#session-calendar').fullCalendar('refetchEvents');
	});

	$('#event-data').django_datebook_connector(page_data);
//------------------------------------------------------------------------------


	function setOccurrenceForm(options) {
		var default_options = {
			'start': 			Date.now(),
			'end': 				Date.now(),
			'allDay': 			false,
			'occurrence_id': 	'',
			'action': 			'create'
		}
		for (var key in default_options) {
			if (typeof options[key] == 'undefined') options[key] = default_options[key];
		}
		// disable the delete button if we are adding an occurrence
		if (options['occurrence_id'] == '') {
			$( '#occurrence-single' ).find(":button:contains('Delete')").attr("disabled", true);
		} else {
			$( '#occurrence-single' ).find(":button:contains('Delete')").attr("disabled", false);
		}

		$( '#id_start_0' ).datepicker("setDate", options['start']);
		$( '#id_start_1' ).timepicker("setTime", options['start'].toTimeString());
		$( '#id_end_0' ).datepicker("setDate", options['end']);
		$( '#id_end_1' ).timepicker("setTime", options['end'].toTimeString());
		$( '#id_event_title' ).val(options['event_title']);
		$( '#id_event' ).val(options['event_id']);
		$( '#id_datebook' ).val(options['datebook_id']);
		$( '#id_action').val(options['action']);
	}

	function postOccurrenceForm(triggerEvent) {
		var data = $('#occurrence-single').children("form").serializeObject();
		// var url = '/ajax/'+$( '#id_action').val()+'/'
		action = $('#id_action').val();
		switch (action) {
		case "create":
			url = page_data.create_url;
			break;
		case "update":
			url = page_data.update_url;
			break;
		case "delete":
			url = page_data.delete_url;
			break;
			
		}

		data = {};
		$('#event-form').find("input").each(function(idx, el) {
			var n = el.name, v = el.value;
			data[n] = data[n] === undefined ? v 
				: $.isArray( data[n] ) ? data[n].concat(v)
				: [obj[n], v ];
		});
		data['csrfmiddlewaretoken'] = page_data.csrf_token;
		data['datebook'] = page_data.datebook_id;

		//save the data to the server
		$.post(url, data, function(answer) {
			if (answer.error) {
			 	alert(answer.error + "\n-----\n" + answer.message);
			 	return false;
			} else {
				$.event.trigger(triggerEvent, [answer]);
				return true;
			}
		});
	}

	function openDialog() {
		// The whole disable-enable thing is to prevent the datepickers and 
		// timepickers from automatically opening when the dialog is shown
		data = { 'csrfmiddlewaretoken': page_data.csrf_token };
		$.post(page_data.event_form_url, data, function(answer) {
			if (answer.error) {
				alert("Error: " + answer.error);
			} else {
				$( '#series-dialog-table' ).html(answer.as_table);
				$( '#series-dialog' ).dialog('open').show();
				$( this ).dialog( "close" );
			}

		});
		$('.datepicker').datepicker('disable');
		$('.timepicker').timepicker('disable');
		$( '#occurrence-single' ).dialog('open').show();
		$('.datepicker').datepicker('enable');
		$('.timepicker').timepicker('enable');

	}



	//-------------------------------------------------------------------------
	// FORMS
	// $('#occurrence-detail').dialog({
	// 	autoOpen: false,
	// 	width: 450
	// });

	// $('#series-dialog').dialog({
	// 	autoOpen: false,
	// 	width: 450
	// });

	// $('#event-dialog').dialog({
	// 	autoOpen: false,
	// 	width: 650,
	// 	buttons: {
	// 		Save: function() {
	// 			postOccurrenceForm('eventsUpdated');
	// 			$( this ).dialog( "close" );
	// 		},
	// 		Delete: function() {
	// 			$( '#id_action').val('delete');
	// 			postOccurrenceForm('eventsUpdated');
	// 			$( this ).dialog( "close" );
	// 		},
	// 		Cancel: function() {
	// 			$( this ).dialog( "close" );
	// 		},
	// 		Series: function() {
	// 			data = { 'csrfmiddlewaretoken': page_data.csrf_token };
	// 			$.post(page_data.series_form_url, data, function(answer) {
	// 				if (answer.error) {
	// 					alert("Error: " + answer.error);
	// 				} else {
	// 					$( '#series-table' ).html(answer.as_table);
	// 					$( '#series-dialog' ).dialog('open').show();
	// 					$( this ).dialog( "close" );
	// 				}

	// 			});
	// 		}
	// 	},

	// }).on('eventAdd', function(event, start, end, allDay) {
	// 	var data = { 
	// 		'csrfmiddlewaretoken': page_data.csrf_token,
	// 		'start': start.toISOString(),
	// 		'end': end.toISOString(),
	// 		'offset': start.getTimezoneOffset(),
	// 	 };
	// 	$.post(page_data.event_form_url, data, function(answer) {
	// 		if (answer.error) {
	// 			alert("Error: " + answer.error);
	// 		} else {
	// 			$( '.datepicker' ).datepicker();
	// 			$( '.timepicker' ).timepicker();
	// 			$( '#event-table' ).html(answer.as_table);
	// 			$( '#event-dialog' ).dialog('open').show();
	// 		}

	// 	});
	// }).on('eventEdit', function(event, calEvent, showdialog, revertFunc) {
	// 	if (showdialog) {
	// 		var data = { 'csrfmiddlewaretoken': page_data.csrf_token, 'event_id': calEvent.event_id, };
	// 		$.post(page_data.event_form_url, data, function(answer) {
	// 			if (answer.error) {
	// 				alert("Error: " + answer.error);
	// 			} else {
	// 				$( '.datepicker' ).datepicker();
	// 				$( '.timepicker' ).timepicker();
	// 				$( '#event-table' ).html(answer.as_table);
	// 				$( '#event-dialog' ).dialog('open').show();
	// 			}

	// 		});

	// 	} else {
	// 		if (postOccurrenceForm('event_update/', '')) {
	// 			revertFunc();
	// 		}
	// 	}
	// });


});
</script>

<div id="session-calendar"></div>
<div id="event-data"></div>

<div id="occurrence-detail" title="Event details">
	<table>
		<tr><td>Course</td> 	<td><span id="occurrence-detail-course"></span></td>	</tr>
		<tr><td>Session</td> 	<td><span id="occurrence-detail-session"></span></td>	</tr>
		<tr><td>Start</td> 		<td><span id="occurrence-detail-start"></span></td>	</tr>
		<tr><td>End</td>	 	<td><span id="occurrence-detail-end"></span></td>	</tr>
	</table>
</div>


<div id="event-dialog" title="Single Event">
	<form id="event-form" action="." method="post">{% csrf_token %}
		<table id="event-table"></table></form>
</div>

{% if series_form %}
<div id="series-dialog" title="Series">
	<form id="series-form">{% csrf_token %}
		<table id="series-table"></table></form>
</div>
{% endif %}